body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:79px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:232px;
  height:79px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(100, 162, 203, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:69px;
  width:65px;
  height:20px;
  color:#FFFFFF;
}
#u43_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(100, 162, 203, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u43.mouseOver {
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:12px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:105px;
  width:830px;
  height:1px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:36px;
  width:169px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(100, 162, 203, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:492px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(100, 162, 203, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:492px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:118px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:632px;
  width:956px;
  height:118px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:319px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:136px;
  width:607px;
  height:319px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:136px;
  width:142px;
  height:150px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:142px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u52_img.mouseOver {
}
#u52.mouseOver {
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:50px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:142px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:69px;
  width:206px;
  height:26px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:202px;
  word-wrap:break-word;
}
